body{
    background-color: #cff;
}
#header{
  
  width:1320px;
  
  height:20px;
  
  background-color:#2fffff;
  }
#cont{
  
  width:1317px;

  height:60px;
  
  background-color:#A0522D;  
} 
#footer{
  /
  width:1180px;

  height:60px;
 
  background-color:#FFB6C1;
  }
#quest{

background-color: #ff9; 
border:5px solid #f0f; 
padding: 5px;
text-align:justify;	
}
